body {
    font-family: sans-serif;
    line-height: 1.6;
    margin: 20px;
    padding: 0;
    background-color: #f4f4f4; 
    color: #333; 
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff; 
    box-shadow: 0 0 10px black);
    border-radius: 8px; 
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: blue; 
}

.meta {
    font-size: 0.9em;
    color: #777;
    margin-bottom: 20px;
}

.author {
    font-style: italic;
}

p {
    margin-bottom: 15px;
}


@media (max-width: 768px) { 
    .container {
        padding: 15px;
    }

    h1 {
        font-size: 2em;
    }
}

@media (max-width: 480px) { 
    .container {
        padding: 10px;
    }

    h1 {
        font-size: 1.5em;
    }
    .meta{
        font-size: 0.8em;
    }
}